/* Colors */
/*****************************************************************************/
.bg-primary, .bg-primary a, .bg-primary p {
  background-color: #19ACED;
  color: #FFFFFF;
}

.bg-primary-light {
  background-color: #E7F6FD;
}

.bg-secondary, .bg-secondary a, .bg-secondary p {
  background-color: #2C3F51;
  color: #FFFFFF;
}


/* Typography */
/*****************************************************************************/
html, body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, p, a {
  letter-spacing: 0;
}

h1, h2, h3, p {
  margin: 2rem;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
  margin-bottom: 1.25em;
}

h2 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 28px;
}

section a, section p {
  color: #515762;
}

p {
  line-height: 1.75rem;
  font-size: 1rem;
  margin-bottom: 1em;
}

a {
  color: #2C3F51;
}

/* Layout */
/*****************************************************************************/
html, body {
  height: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

body, section#resources {
  display: flex;
  flex-direction: column;
}

section.directory {
  flex: 1 0 auto;
}

header {
  padding: 1em 0;
}

header {
  border-bottom: 4px solid #19ACED;
}

footer {
  margin-top: 1em;
  border-top: 4px solid #19ACED;
}

.panel:first-of-type {
  border-top: 4px solid #19ACED;
}

.panel:last-of-type {
  padding-bottom: 1em;
  border-bottom: 4px solid #19ACED;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  padding: 0 2rem;
}

li {
  white-space: nowrap;
  padding: .1em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 960px) {
  section#resources {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }

  .panel {
    width: 33%;
    padding: 1em;
    border-bottom: 4px solid #19ACED;
    border-top: 4px solid #19ACED;
  }

  .bg-full-width {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }

  .bg-full-width:after {
    content: "";
    position: absolute;
    background: inherit;
    width: 100vw;
    height: 100%;
    z-index: -1;
    top: 0;
    right: calc(51% - 51vw);
  }
}

/* Folder Lists */
/*****************************************************************************/

.directory h2 {
  font-size: 1.2rem;
}

.collapsible {
  border-top: 2px solid;
  margin: 0 2rem;
}

.file-list {
  margin: 0 0 1em 0;
}

h2 button {
  all: inherit;
  border: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0;
}

h2 button svg {
  height: 1em;
  margin-left: 0.5em;
}

h2 button:focus svg {
  outline: 2px dotted;
}

[aria-expanded="true"] .vert {
  display: none;
}

[aria-expanded] rect {
  fill: currentColor;
}
